
.left{
    background-color: rgb(206, 100, 100);
  min-height: 700px;
}
.right{
    background-image: url("images/214608.jpg");
  background-size: cover;   
}

h2{
    background-color: red;
    text-align: left;
}
h1{
    background-color: red;
}




































